#container{
	
	font-size: 0;
}
#table{
	width: 960px;
	height: 960px;
	font-size : 0;
	display: block;
	margin: auto;
	border-collapse: collapse;
}

td{
	padding: 0px 0px 0px 0px;
}
.block{
	background-color: gray;
	display: inline-block;
	
}
li{
	display: inline-block;
	
}
li button{
	position: relative;
	left: 450px;
}
ul{
	
	list-style-type: none;
}

h1{
	text-align: center;
}